{% extends 'heartenfrontendwebsite/base.html' %}
{% block title %}前端鼓励狮 Hello{% endblock %} 
{% block content %}
	<header>
		<h1 class="logo">前端鼓励狮</h1>
		<nav>
			<ul>
				<li><a href="">鼓励狮花名册</a></li>
				<li><a href="">鼓励狮论坛</a></li>
				<li><a href="">'赞助'鼓励狮</a></li>
			</ul>

			<ul>
				<li><a href="">登录</a></li>
				<li><a href="">注册</a></li>
			</ul>
		</nav>
	</header>	

	<main>
		<div class="section">
			<div class="module">
				<h2 class="module--header">
					前端鼓励狮是？
				</h2>
				<p class="module--content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolores cupiditate laborum, pariatur, quidem reiciendis recusandae aut blanditiis ullam nobis laboriosam distinctio quia deserunt rerum vero ad eos et ex?
				</p>
			</div>	
		</div>

		<div class="module">
			<h2 class="module--header">
				加入鼓励狮
			</h2>
			<p class="module--content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolores cupiditate laborum, pariatur, quidem reiciendis recusandae aut blanditiis ullam nobis laboriosam distinctio quia deserunt rerum vero ad eos et ex?
			</p>
		</div>

		<div class="module">
			<h2 class="module--header">
				'赞助'鼓励狮
			</h2>
			<p class="module--content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolores cupiditate laborum, pariatur, quidem reiciendis recusandae aut blanditiis ullam nobis laboriosam distinctio quia deserunt rerum vero ad eos et ex?
			</p>
		</div>
	</main>
	
{% endblock %}