@import 'module/mask';

*{
	box-sizing:border-box;
}

html,body {
	font: 14px/1.5 '微软雅黑',Arial,sans-serif;
	color: #14191e;
}

// module
.show {
	display:block;
}

.hide {
	display:none;
}

// dialog 
.mask--dialog-box {
	padding: 0 10px;
}

.mc--header{
	border-bottom: 1px solid #ccc;
	a {
		display:inline-block;
		text-align: center;
		width: 80px;
		line-height: 50px;
	}
	.active {
		border-bottom: 1px solid red;
		color:red;
	}
}

.mc--content{
	padding: 30px 10px;
	input[type=text],input[type=password] {
		line-height: 40px;
		display:block;
		width: 100%;
		margin-bottom: 20px;
		padding: 0 5px;
	}

	input[type=checkbox]{
		margin-bottom: 20px;
	}

	form .verify-code {
		display:inline-block;
		width:initial;
	}

	.forget-pw {
		float: right;
	}
}

.other-login {
	padding:0 10px;
	margin-bottom: 20px;
}

.btn {
	display: block;
	width: 100%;
	line-height: 40px;
	background-color: #DD2C00;
	text-align: center;
	color:#fff;
}

// header 
header {
	min-height: 60px;
	padding: 0 20px;
	background-color: #000;
	color:#fff;
	nav {
		li {
			float: left;	
		}
		a {
			display: block;
			text-align: center;
			line-height: 60px;
			color:#fff;
			padding:0 10px;
			transition: all .3s;
			&:hover {
				background-color: #363c41;
			}
		}
	}

}

.login-area {
	a {
		color:#787d82;
	}
	.register-btn {
		&:hover {
			background-color: #BE3624;
		}
	}
}

h1 {
	margin: 0;
	line-height: 60px;
	float: left;
}

// section
.container {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	height: 100%;
}
.section {
	height: 400px;
	.module,.img {
		position: absolute;
		top: 50%;
		transform:translateY(-50%);	
		text-align-last: center;	
	}
	.img {
		width: 50%;
		height: 100%;
		background-size: cover;
	}
}

.section:nth-child(odd){
	background-color: #EEF1F2;
	.module {
		width: 50%;
		right: 0;
		padding: 0 10px;
	}
	.img {
		left: 0;
	}
}

.section:nth-child(even){
	.module {
		width: 50%;
		left: 0;
	}
	.img {
		right: 0;
	}
}

.img-join {
	background:url(img/peiban.jpeg) no-repeat center center;
}

.img-zanzhu {
	background:url(img/zanzhu.jpg) no-repeat center center;
}

.img-about {
	background:url(img/gulishi.jpg) no-repeat center center;
}

// footer
footer {
	text-align: center;
	ul {
		overflow:hidden;
		width:fit-content;
		margin:0 auto;
	}
	li {
		float: left;
		a {
			display: block;
			padding: 5px 20px;
		}
	}
}





