<% include ../partials/head %>

    <link rel="stylesheet" href="../../static/common/css/lib/reset.css?__inline">
    <link rel="stylesheet" href="../../static/common/css/style.css?__inline">
    <title>前端鼓励狮testttttttttaaasdfasdf</title>
</head>
<body>


    <header class="ovh">
        <h1 class="logo">前端鼓励狮</h1>
        <nav class="l">
            <ul>
                <li><a href="">鼓励狮花名册</a></li>
                <li><a href="">鼓励狮论坛</a></li>
                <li><a href="">'赞助'鼓励狮</a></li>
                <li><a href="">给鼓励狮们留言</a></li>
            </ul>
        </nav>
        <nav class="r login-area">
            <ul>
                {% if user.is_authenticated %}
                    <li><a>欢迎, {{ user.username }}。</a>
                    <li><a href="logout/">登出</a></li>
                {% else %}
                    <li><a href="/login" class="dialog-btn register-btn">登录</a></li>
                    <li><a href="/register" class="dialog-btn login-btn">注册</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>   

    <main>
        <div class="section">
            <div class="container">
                <div class="img img-about">
                </div>
                <div class="module">
                    <h2 class="module--header">
                        前端鼓励狮是？
                    </h2>
                    <p class="module--content">
                        一个由自学前端的小伙伴们组成的互助组织。
                        <br>
                        漫漫前端路上，我们互相鼓励与帮助，We have our back for each other.
                    </p>
                </div>  
            </div>
        </div>
            
        <div class="section">
            <div class="container">
                <div class="img img-join">
                </div>
                <div class="module">
                    <h2 class="module--header">
                        加入鼓励狮
                    </h2>
                    <p class="module--content">
                        学习路上，有我们的陪伴，幸事幸事。
                        <br>
                        <a href="https://www.douban.com/group/topic/80693213/?start=0#1092897832">点击来到鼓励狮之家~</a>
                    </p>
                </div>
            </div>
        </div>  
            
        <div class="section">
            <div class="container">
                <div class="img img-zanzhu">
                </div>
                <div class="module">
                    <h2 class="module--header">
                        '赞助'鼓励狮
                    </h2>
                    <p class="module--content">
                        在鼓励狮初期，我们就有想法要成立一家公司：**前端鼓励狮有限公司。**指代鼓励狮的人数。公司呢，承接各种前端外包项目~~
                        <br>
                        这个想法蛮单纯的，也不为了赚钱，只是想着给大家找点实战机会。
                        <br>
                        在学习路上，我们最缺的就是实战，如果您有前端外包的需求，可以选择前端鼓励狮公司的鼓励狮们，感谢。    
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </main>


    <!-- mask -->
    <div class="mask">
        <div class="mask--dialog-box">
            <a class="mask--close-btn"></a>
            <div class="mask--content">
                <div class="mc--header">
                    <a href="/login" class="active">登录</a>
                    <a href="/register" >注册</a>
                </div>
                <div class="mc--content">
                    <form action="login/" method="POST" class="login-form show">
                        {% csrf_token %}
                        <input type="text" placeholder="请输入登录手机号/邮箱" name="username">
                        <input type="password" placeholder="6-16位密码，区分大小写，不能用空格" name="password">
                        <input type="checkbox" id="auto-login"><label for="auto-login">下次自动登录</label>
                        <input type="submit" class="btn" value="登录">
                    </form>

                    <form action="/" method="POST" class="register-form hide">
                        {% csrf_token %}
                        {{form}}
                        <input type="submit">
                    </form>

                </div>
                <div class="other-login">
                    <span>其他方式登录</span>
                    <a href="">微信</a>
                    <a href="">微博</a>
                    <a href="">QQ</a>
                </div>
            </div>          
        </div>
    </div>  


    <footer>
        <div class="container">
            <ul>
                <li><a href="">微博</a></li>
                <li><a href="">微信</a></li>
            </ul>

            <ul>
                <li><a href="">csstrick</a></li>
                <li><a href="">mdn</a></li>
            </ul>
        </div>
    </footer>

    <script type="text/bable" src="../../static/common/js/script.js?__inline">
    </script>
</body>
</html>